
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.*
!.env.example

# Logs
*.log

# Node.js / React
frontend/node_modules/
frontend/dist/

# Build and cache files
.vite/
.cache/

# IDE and operating system
.vscode/
.idea/
.DS_Store
Thumbs.db

node_modules/
package-lock.json
